* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #886441;
    /* color: #eeebeb;  */
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

main {
    display: flex;
    padding: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.text p {
    font-size: 1.1rem;
    font-weight: 100;
    text-align: justify;
    color: #251709;
}

.container img {
    width: 770px;
    height: 570px;
    left: 10px;
    top: 107px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5e370f;
    padding: 08px 20px;
}

.logo {
    color: #ff9900;
    font-size: 24px;
    font-weight: bold;
   
}


.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

h1 {
    text-align: center;
    
}

.menu li {
    margin: 10px 0;
    padding: 0 20px;

}

.menu a {
    text-decoration: none;
    color: white;
    /* padding: 30px; */

}

.menu a:hover {
    background-color: #8a4f13;
    border-radius: 30px;
    /* padding: 15px 20px; */

}

h1 {
    text-align: center;
    color: #ff9900;
    margin: 30px;
}
.category {
    margin-bottom: 20px;
}
.category h2 {
    background-color: #5e370f;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}






img:hover {
    transform: scale(1.4);
}

.dish-container {
    display: flex;
    align-items: center;
    gap: 20px;
    
    
}

.dish-container img {
    border-radius: 10px;
    
}

.description {
    max-width: 100%;
}